<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Admin</title>
</head>

<body>
    <header>
        <img src="/assets/admin.jpeg" alt="Várias pessoas trabalhando numa empresa com mesas e computadores nas mesas." class="logo">
    </header>

    <main>
        <h1>Área administrativa</h1>
        <h2>Uma área exclusiva para uso administrativo. 
        </h2>
    </main>
</body>

</html>